<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">Parcial Prog. Web</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
    <p class="card-text">{{email}}</p>
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del elemento</th>
      <th scope="col">Símbolo</th>
      <th scope="col">Número atómico</th>
      <th scope="col">Peso atómico</th>
      <th scope="col">Metal de transición</th>
      <th scope="col">Categoría</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of elements; let e = index">
      <th scope="row">{{ e+ 1}}</th>
      <td>{{i.name}}</td>
      <td>{{i.simbolo}}</td>
      <td>{{i.natomico}}</td>
      <td>{{i.patomico}}</td>
      <td [ngSwitch]="i.mtran">
        <ng-container *ngSwitchCase = "1" >Sí</ng-container>
        <ng-container *ngSwitchCase = "2">No</ng-container>
      </td>
      <td [ngStyle]="{'color': i.category === 'Alcalinos' ? 'green' : (i.category ==  'Gases nobles') ? 'blue' : 'black'}">
        {{i.category}}
      </td>
    </tr>
  </tbody>
</table>
